@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	font-family:"trebuchet MS", sans-serif;/*"Helvetica Neue", */
}

body 
{
	margin:0; 
	padding:0; 
	text-align:center; /* hack para o IE */
	background: #e8e8e8;
}
img{
	border:0px;
}

#tudo 
{
	width: 1000px; 
	margin:0 auto; 
	text-align:left; /* "remédio" para o hack do IE */ 
}

#conteudo 
{
	margin:0px 50px 0px 50px;
}

a{
	/*font-family:"orator Std", "trebuchet MS", sans-serif;*/
	font-family:"trebuchet MS", sans-serif;/*"Helvetica Neue", */
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}

ul{
	width:inherit;
	display:table;
}

ul li {
	list-style-type:none;
	display:inline;
}

input[type=text] {
	border: 0px;
	padding: 5px;
	outline: none;
	margin-bottom:15px;
}

/* Header Style*/
#header
{
	display:table;
	height:158px;
	width:900px;
}

#contentHeader{
	display:table;
	width:inherit;
	height:141px;
}

#contentHeader .contentHeader-absolute{
	background:#fff;
	height:141px;
	left:0;
	position:absolute;
	width:100%;
	z-index: -1;
}

#contentHeader #logo{
	display:table;
	float:left;
	height:141px;
	width:450px;
}

#contentHeader #logo .logo{
	display:table;
	width: 187px;
	height: 141px;
	float: left;
}

#contentHeader #logo .titulo{
	display:table;
	height: 141px;
	width:263px;
}

#contentHeader #logo .titulo h1{
	color:#787676;
	font-size:14px;
	padding-left: 30px;
	text-transform:uppercase;
	font-weight:normal;
}

#contentHeader #logo img{
	position: absolute;
	z-index: 1;
	box-shadow: 0px 6px 15px 0px #fff;
	border-radius: 25px;
}

#border-top-header{
	display:table;
	height:6px;
	width:inherit;
}

#border-bottom-header{
	display:table;
	height:11px;
	width:inherit;
}

#border-top-header .border-top-header-absolute{
	background:#e77843;
	height:6px;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}

#border-bottom-header .border-bottom-header-absolute{
	background:#efefef;
	height:11px;
	left:0;
	position:absolute;
	width:100%;
}

#contentHeader #menu{
	display:table;
	height:141px;
	width:450px;
}

#contentHeader #menu ul{
	display:table;
	margin-left: 87px;
	width: 363px;
	/*margin-left: 15px;
	width: 435px;*/
}

#contentHeader #menu ul li{
	display:inline-block;
	/*margin: 0px 2px 0px 2px;*/
	margin:0px 0px 0px 4px;
}

#contentHeader #menu ul li a{
	color:#8a8888;
	display:table;
	padding:57px 10px 10px 10px;
	height:auto;
	width:34px;
	font-size:12px;
	text-transform:uppercase;
}

#contentHeader #menu ul li a:hover{
	color:#fff;
	background:#e77843;
}

#contentHeader #menu ul li a.active{
	color:#fff;
	background:#e77843;
}
/* @End Header Style*/

/* Footer Style*/
#footer{
	display:table;
	width:900px;
	height:70px;
}

#footer #footer-social{
	display:table;
	width:inherit;
	height:35px;
}

#footer #footer-social .footer-social-absolute{
	background:#363636;
	height:35px;
	left:0;
	position:absolute;
	width:100%;
	z-index:-1;
}

#footer-social .footer-social-content{
	display:table;
	height:35px;
	width:inherit;
	margin-left: -30px;
}

#footer-social .footer-social-content p{
	font-size:11px;
	color:#ffffff;
	text-align:center;
}


#footer #footer-direitos{
	display:table;
	width:inherit;
	height:35px;
}


#footer #footer-direitos .footer-direitos-absolute{
	background:#1b1b1b;
	height:35px;
	left:0;
	position:absolute;
	width:100%;
	z-index:-1;
}

#footer-direitos .footer-direitos-content{
	display:table;
	height:35px;
	width:inherit;
}

#footer-direitos .footer-direitos-content p{
	font-size:10px;
	color:#6b6b6b;
	text-align:center;
}
/*@End  Footer Style*/

/* Content Home Style*/
#content-home{
	display:table;
	height:330px;
	width:900px;
}

#content-home .content-home-absolute{
	background:#494949;
	height:330px;
	left:0;
	position:absolute;
	width:100%;
	z-index: -1;
}

#content-home #banner-rotativo img{
	margin-top:10px;
	margin-bottom:10px;
}

#link-uteis-home {
	display:table;
	height:222px;
	width:900px;
}

#link-uteis-home .box-link-uteis{
	display:table;
	float:left;
	height:180px;
	width:290px;
	box-shadow: 15px 0px 16px -15px #000;
	margin-right:15px;
	margin-top: 25px;
}

#link-uteis-home .box-link-uteis:last-child{
	margin-right:0px;
}

#link-uteis-home .box-link-uteis:last-child{
	box-shadow:0px 0px 0px 0px #000;
}

#link-empresa .titulo-h3 h3,
#link-obras .titulo-h3 h3,
#link-orcamento .titulo-h3 h3{
	font-size:18px;
	font-weight: normal;
	text-transform:uppercase;
}

#link-empresa .titulo-h3 h3{
	color:#838484;
}

#link-obras .titulo-h3 h3{
	color:#282828;
}

#link-orcamento .titulo-h3 h3{
	color:#e77843;
}

#link-empresa .arrows-titulo{
	border-right-color:#838484;
	border-style:solid;
	border-bottom-color:#838484;
}

#link-obras .arrows-titulo{
	border-right-color:#282828;
	border-style:solid;
	border-bottom-color:#282828;
}

#link-orcamento .arrows-titulo{
	border-right-color:#e77843;
	border-style:solid;
	border-bottom-color:#e77843;
}

#link-empresa .content-link-uteis,
#link-obras .content-link-uteis,
#link-orcamento .content-link-uteis{
	display:table;
	height:85px;
	width:242px;
	padding:20px;
}

#link-empresa .content-link-uteis{
	background:#838484;
}

#link-obras .content-link-uteis{
	background:#282828;
}

#link-orcamento .content-link-uteis{
	background:#e77843;
}

.content-link-uteis .titulo,
.content-link-uteis .content{
	font-size:11px;
}

.content-link-uteis .titulo{
	font-weight:bold;
	margin-bottom:10px;
}

#link-empresa .content-link-uteis .titulo{
	color:#e9eaea;
}

#link-obras .content-link-uteis .titulo{
	color:#a4a4a4;
}

#link-orcamento .content-link-uteis .titulo{
	color:#ffffff;
}

#link-empresa .content-link-uteis .content{
	color:#bebebe;
}

#link-obras .content-link-uteis .content{
	color:#636161;
}

#link-orcamento .content-link-uteis .content{
	color:#f2bea5;
}

#link-empresa #link-empresa-a{
	background:url(../images/link-empresa.png) no-repeat;
	display:table;
	height:31px;
	width:31px;
	position: absolute;
	margin-top: -31px;
	margin-left: 251px;
}

#link-obras #link-obras-a{
	background:url(../images/link-obras.png) no-repeat;
	display:table;
	height:31px;
	width:31px;
	position: absolute;
	margin-top: -31px;
	margin-left: 251px;
}

#link-orcamento #link-orcamento-a{
	background:url(../images/link-orcamentos.png) no-repeat;
	display:table;
	height:31px;
	width:31px;
	position: absolute;
	margin-top: -31px;
	margin-left: 251px;
}

.arrows-titulo{
	width: 0;
	height: 0;
	border-right-width: 7px;
	border-top: 7px solid transparent;
	border-left: 7px solid transparent;
	border-bottom-width: 7px;
	float:left;
	margin-right:5px;
	margin-top: 4px;
}
/* @End Content Home Style*/

.verticalAlign{
	display:table-cell;
	height:inherit;
	vertical-align:middle;
	width:inherit;
}

.leftBox{
	float:left;
}

.rightBox{
	float:right;
}

.paddingOrcamento{
	padding:10px 55px 10px 55px;
}

.ui-datepicker {
	font-size: 11px !important;
}

.ui-tooltip{
padding:0px !important;
}

.backLightbox{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #ededed;
opacity: .6;
z-index: 21000;
display: none;
}

.boxFlutuante {
position: fixed;
top: 50%;
left: 50%;
margin-left:-179px;
margin-top:-63px;
z-index: 22003;
box-shadow: 0px 0px 35px -10px #000;
}

.loading {
position: fixed;
top: 50%;
left: 50%;
width:32px;
height:32px;
margin-left:-16px;
margin-top:-16px;
z-index: 22003;
box-shadow: 0px 0px 35px -10px #000;
display:none;
}

#boxSucessoEnvio, #boxErrorEnvio{
display: none;
height: 126px;
width: 358px;
}

#boxSucessoEnvio div, #boxErrorEnvio div{
	display:table;
	height:63px;
	width:inherit;
}

#boxSucessoEnvio p, #boxErrorEnvio p{
	color:#fff;
	text-align:center;
}

#boxSucessoEnvio .titulo{
	background:#721116 url(../images/checkedForm.png) no-repeat 25px 20px;
	text-transform:uppercase;
	font-weight:600;
	font-size: 8pt;
}

#boxErrorEnvio .titulo{
	background:#721116 url(../images/errorEnvio.png) no-repeat 90px 20px;
	text-transform:uppercase;
	font-weight:600;
	font-size: 8pt;
}

#boxSucessoEnvio .content, #boxErrorEnvio .content{
	background:#991c22;
	font-size: 11px;
}

#boxSucessoEnvio .close, #boxErrorEnvio .close{
	cursor:pointer;
	position:absolute;
	width:18px;
	height: 18px;
	right: 0px;
}

.verticalAlign63px{
	display:table-cell;
	height:63px;
	vertical-align:middle;
}